<html xmlns="http://www.w3.org/1999/xhtml" 
xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo-2 CRUD</title>
    <link rel="stylesheet" href="/styles.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="img" style=" width: 100%; ">



    
    <nav class="navbar">
        
        
        <div>
            <ul >
              <li>
                <a id="change" style="font-weight:bold;"  href="http://localhost:8080/">Home</span></a>
              </li>
            
              <span style="float: right;">
                <li class="nav-item">
                  <form th:action="@{/userDetails/}" method="post">
                  <button type="submit" class="btn1">Users Details </button>
                  </form>
                </li>
                
                
          
                <li style="float:right; padding-right: 20px;">
                  <span th:text="'Hello, '+ ${user}" style="padding-right: 20px;"></span>
                  <a id="change" class="nav-link" href="http://localhost:8080/logout">Sign Out</a>
                </li>
              </span>
            </ul>
          </div>
       
          
        </nav>
        <div class="back">
        <br>
        <br>
        <h2>User Details</h2>
        
        <table class="center" >
            <thead>
                <th>Id</th>
                <th>Username</th>
                <th>Type</th>
                <th>Delete</th>
                
            </thead>
    
            <tbody>
                <th:block th:each="User : ${USERS}">
                <tr>
                    <td th:text="${User.id}"></td>
                    <td th:text="${User.username}"></td>
                    <td th:text="${User.role}"></td>
                    <td style="text-align: center;">
                    <form th:action="@{'/delUser/'+ ${User.id}}">
                    <button type="submit" class="btn fa fa-trash-o btn-danger" >Delete</button>
                    </form>
                   </td>
                    
                </tr>
            </th:block>
            </tbody>
        </table>

        <br>
        <br>
        <div style="text-align: center;">
          <form th:action="@{/addUserDetails/}">
          <button type="submit" class="btn2">Add User </button>
          </form>
        </li>
      </div>
    
    </body>
    </html>